@import "tailwindcss";

@theme {
    --font-sans: 'Space Grotesk', sans-serif;
    --font-mono: 'Space Mono', monospace;
    
}

body {
    color: var(--text);
    /* #f0f0f0 — your light gray/white token */
    background-color: var(--bg);
    /* #080808 — your near-black token */
}